 <div class="product-item">
    <a href="{{ path('product', { 'slug' : product.slug } ) }}"><img src="/images/product/{{ product.illustration }}" alt="{{ product.name }}"class="fav-img"></a>
        <h5>{{ product.name }}</h5>
        <span class="product-subtitle">{{ product.subtitle }}</span>
        <span class="product-price"> {{ (product.price / 100)|number_format(2, ',', '.') }} €</span>
        <a href="{{ path('add_to_cart' , { 'id' : product.id }) }}" >
        <img src="{{ asset('assets/img/shopping-cart-black.png') }}" class="cart-icon2" alt="Mon panier" >
    </a>
</div>